In [56]:
from sklearn import datasets
from sklearn.model_selection import cross_val_predict, cross_val_score, cross_validate
from sklearn import linear_model
import matplotlib.pyplot as plt
import pandas as pd

In [57]:
data = pd.read_csv('c:/Users/MANOLO/Downloads/vehiculos_procesado.csv')

In [60]:
datos_ejercicio = data.loc[:,['consumo','co2','cilindros','desplazamiento']] 
datos_ejercicio

       consumo         co2  cilindros  desplazamiento
0           17  522.764706        4.0             2.5
1           13  683.615385        6.0             4.2
2           16  555.437500        4.0             2.5
3           13  683.615385        6.0             4.2
4           16  555.437500        6.0             3.8
...        ...         ...        ...             ...
35534       25  355.480000        4.0             1.3
35535       26  341.807692        4.0             1.1
35536       26  341.807692        4.0             1.1
35537       25  355.480000        4.0             1.3
35538       25  355.480000        4.0             1.1

[35539 rows x 4 columns]

In [61]:
x = datos_ejercicio.iloc[:,0:1]
y = datos_ejercicio.iloc[:,1:2]
w = datos_ejercicio.iloc[:,2:3]
z = datos_ejercicio.iloc[:,3:4]

In [54]:
x,y,w,z

(       consumo
 0           17
 1           13
 2           16
 3           13
 4           16
 ...        ...
 35534       25
 35535       26
 35536       26
 35537       25
 35538       25

 [35539 rows x 1 columns],
               co2
 0      522.764706
 1      683.615385
 2      555.437500
 3      683.615385
 4      555.437500
 ...           ...
 35534  355.480000
 35535  341.807692
 35536  341.807692
 35537  355.480000
 35538  355.480000

 [35539 rows x 1 columns],
        cilindros
 0            4.0
 1            6.0
 2            4.0
 3            6.0
 4            6.0
 ...          ...
 35534        4.0
 35535        4.0
 35536        4.0
 35537        4.0
 35538        4.0

 [35539 rows x 1 columns],
        desplazamiento
 0                 2.5
 1                 4.2
 2                 2.5
 3                 4.2
 4                 3.8
 ...               ...
 35534             1.3
 35535             1.1
 35536             1.1
 35537             1.3
 35538             1.1

 [35539 rows x 1 columns])

In [ ]:
lr = linear_model.LinearRegression()
X, y = datasets.load_boston(return_X_y=True)

# cross_val_predict returns an array of the same size as `y` where each entry
# is a prediction obtained by cross validation:

In [ ]:
X[:2]

In [ ]:
scores=cross_val_score(lr, X, y, cv=10, scoring="r2")
scores

In [ ]:
scores.mean()

In [ ]:
cv_results = cross_validate(lr, X, y, cv=3, scoring="r2")
print(cv_results)

In [ ]:
sorted(cv_results.keys())
print(cv_results['test_score'])

In [ ]:
predicted = cross_val_predict(lr, X, y, cv=10)

fig, ax = plt.subplots()
ax.scatter(y, predicted, edgecolors=(0, 0, 0))
ax.plot([y.min(), y.max()], [y.min(), y.max()], 'r--', linewidth=4)
ax.set_xlabel('Measured')
ax.set_ylabel('Predicted')
plt.show()